.container {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
padding: 0px 221px;
gap: 3px 27px;
isolation: isolate;
position: absolute;
width: 672px;
height: 23px;
left: 384px;
top: 56px;
background:  none;}


.searchResultsText{
width: 101px;
height: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;}


.bookmarkText{
width: 77px;
height: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;}


