.signInFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0fef0; /* color from colors.js */
}

.signInForm {
  width: 100%;
  max-width: 320px;
  background: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.heading {
  font-size: 24px;
  color: #68986f; /* Primary color from colors.js */
  margin-bottom: 10px;
}

.label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #111611; /* Text color from colors.js */
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b0ccb4; /* Secondary color from colors.js */
  border-radius: 4px;
}

.button {
  width: 100%;
  background-color: #68986f; /* Primary color from colors.js */
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #80b287; /* Accent color from colors.js */
}

.googleSignUp {
  width: 100%;
  background-color: white;
  color: #111611; /* Text color from colors.js */
  padding: 10px 0;
  border: 1px solid #68986f; /* Primary color from colors.js */
  text-align: center;
  display: block;
  border-radius: 4px;
}

.googleSignUp:hover {
  background-color: #f0fef0; /* Background color from colors.js */
}

.text {
  font-size: 14px;
  color: #111611; /* Text color from colors.js */
  margin-top: 20px;
}

.link {
  color: #68986f; /* Primary color from colors.js */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.homeButton {
  background-color: #fff; /* White background */
  color: #68986f; /* Primary color from colors.js */
  padding: 10px 15px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: 2px solid #68986f; /* Border color from colors.js */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Cursor to pointer */
  margin-top: 15px; /* Space above the button */
  text-decoration: none; /* No underline */
  display: inline-block; /* Allows margin to work properly */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.homeButton:hover {
  background-color: #68986f; /* Background color changes on hover */
  color: #fff; /* Text color changes on hover */
}